token: ""
dev_group_chatid: 
news_interval: 60

notices_urls: {
    "DIPARTIMENTO": {
        "channel": "@channel",
        "urls": {
            "CdL L-31": "http://www.dip.unict.it/corsi/L-31/avvisi/",
        }
    },
    "DIPARTIMENTO2": {
        "channel": "@channel2",
        "urls": {
            "CdL LM-40": "http://www.dip.unict.it/corsi/LM-40/avvisi/",
        }
    }
}
