token: ""
dev_group_chatid: 
news_interval: 60

notices_urls: {
    "DEPARTMENT-NAME": {
        "pages": {
            "PAGE-NAME": {
                "approve_group_chatid": 00000, # NOT MANDATORY 
                "urls": [
                    "PAGE-URL_1",
                    "PAGE-URL_2",
                ],
                "channels": [
                    "@CHANNEL-1",
                    "@CHANNEL-2",
                ]
            },
        }
    },
}
