token: ""
dev_group_chatid: 
news_interval: 60
max_messages_length: 250
max_length_footer: " ... \n\n<b>Clicca il link in cima al post per continuare a leggere</b>"

notices_urls: {
    "DEPARTMENT-NAME": {
        "pages": {
            "PAGE-NAME": { # page name has 22 charaters as limit
                "approve_group_chatid": 00000, # NOT MANDATORY 
                "urls": [
                    "PAGE-URL_1",
                    "PAGE-URL_2",
                ],
                "channels": [
                    "@CHANNEL-1",
                    "@CHANNEL-2",
                ]
            },
        }
    },
}
